* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.ben-10-logo {
  width: 55px;
  margin-left: 90px;
}

.top-section,
.nav-bar,
.nav-bar-links {
  display: flex;
}

.nav-bar-links {
  gap: 50px;
  align-self: center;
  align-items: center;
  margin-right: 90px;
}

.top-section {
  width: 100%;
  justify-content: center;
  background-color: #1f2937;
}

.nav-bar {
  padding: 8px;
  width: 100%;
  justify-content: space-between;
}

.nav-bar a {
  font-size: 18px;
  color: #e5e7eb;
}
