@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.ben-10-logo {
  width: 55px;
  margin-left: 90px;
}

.top-section,
.nav-bar,
.nav-bar-links {
  display: flex;
}

.nav-bar-links {
  gap: 50px;
  align-self: center;
  align-items: center;
  margin-right: 90px;
}

.top-section {
  width: 100%;
  justify-content: center;
  background-color: #1f2937;
  flex-direction: column;
}

.nav-bar {
  padding: 8px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 60px;
}

.nav-bar a {
  font-size: 18px;
  color: #e5e7eb;
}

.top-content {
  display: flex;
  justify-content: center;
}

.top-content .left-para {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
}
